licenta/ignored
licenta/quickshift_project/input_data
licenta/quickshift_project/results
licenta/contours_fill_project/input_data
licenta/contours_fill_project/results
licenta/contours_fill_project/ignored